#game-board {
  width: 500px;
  height: 500px; 
  border: 1px solid black;
}

#start-button {
  background: grey;
}

#field {
  width: 450px;
  height: 400px;
  margin: 20px;
  position:relative;
  border: 2px solid #eee;
  background: #eee;
}

#ball-start {
  left:200px;
  top:100px;
  width: 100px;
  height: 100px;
  position:absolute;
  border:1px solid green;
  background: green;
}

#ball-destination {
  left:10px;
  top:10px;
  width: 100px;
  height: 100px;
  position:absolute;
  border: 1px solid red;
  background: red;
}

#ball {
  width: 25px;
  height: 25px;
  margin: 5px;
  z-index: 999;
  position:absolute;
  background: blue;
}
